body {
    font-family: Arial;
}

.container {
    /* width: 100%;
    border: 2px solid red;
    padding: 5px; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "header header"
    "content info"
    "end end";
    padding: 10px;
    gap: 10px;
}

.head {
    grid-area: header; background-color: aqua; padding: 5px;
}
.content {
    grid-area: content; background-color: aqua; padding: 5px
}
.info {
    grid-area: info; background-color: aqua; padding: 5px
}
.end {
    grid-area: end; background-color: aqua; padding: 5px
}