div {
    background-color: aqua;
    padding: 20px;
    width: 500px;
    height: 100px;
    text-align: center;
    position: relative;
    top: 200px;
    left: 300px;    
}

div:hover {
    /* transform: translate(200px, 100px); */
    /* transform: scale(1.5); */
    transform: skew(200deg);
}